@media only screen and (min-width: 360px) and (max-width: 640px) {
  .testimonial {
    font-size: 24px;
    font-weight: 700;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .cardSection1 {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }
  .mainSection {
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .testimonial {
    font-size: 24px;
    font-weight: 700;
  }
}
