img {
  border-radius: 50%;
}

@media only screen and (min-width: 360px) and (max-width: 640px) {
  .testimonial {
    font-size: 24px;
    font-weight: 700;
  }
  img {
    border-radius: 50%;
  }

  /* .cardSection1 {
    padding-left: 15rem;
    padding-right: 15rem;
    width: 50%;
  } */
  .mainSection {
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .even1 {
    display: flex;
    flex-direction: column;
  }

  .odd1 {
    display: flex;
    flex-direction: column;
  }

  .even1Child {
    padding-left: 18rem;
    padding-right: 18rem;
    width: 100%;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .cardSection1 {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }
  img {
    border-radius: 50%;
  }

  .mainSection {
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .testimonial {
    font-size: 24px;
    font-weight: 700;
  }
}
