.resource-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.span-2 {
  grid-column: span 2;
  
}

.grid-col-start {
  grid-column-start: 3;
}

.box:last-child {
  background-color: aqua;
  grid-column-start: 4;
}

.skill {
  padding: 1.5rem;
  font-size: larger;
}
.consideration {
  padding: 1.5rem;
}
.consideration .col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.consideration h1 {
  font-size: 2rem;
  padding: 0.5rem;
}
.consideration h4 {
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #000;
}
.consideration p {
  font-size: 0.8rem;
  padding: 0.5rem;
  color: #000;
}
.consideration p .fa-solid {
  margin-left: 1%;
  padding-right: 1rem;
  color: rgb(46, 238, 46);
  font-weight: bolder;
}
.consideration .col .photo img {
  height: 25rem;
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
  .consideration .col {
    display: flex;
    flex-direction: column;
  }
  .consideration .col .photo img {
    width: 50rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .consideration .col {
    display: flex;
    flex-direction: column;
  }
  .consideration .col .photo img {
    width: 50rem;
  }
}
