.libraries{
     background: #aab2d1;
     padding: 15px 9%;
     margin-top: 3rem;
     
}
.libraries .heading{
     /* text-align: left; 
     padding-left: 30px;
     padding-bottom: 15px;
     color: #2a3fac;
     text-shadow: 0 5px 10px;
     font-size: 20px; */
     display: flex;
     justify-content: space-between;
     color: #2a3fac;
     text-shadow: 0 5px 10px;
     font-size: 20px;
     align-items: center;
     margin: 0;
     padding: 1.5rem;
     padding-left: 2rem;
     width: 102%;
     font-weight: bold;
}
.libraries .heading .resourse-link{
 text-align: right;
 font-size: 12px;
 padding-right: 35px;
}
.libraries .mobile-resourse-link{
     display: none;
}
.libraries .heading .resourse-link a{
     color: red;
     text-decoration: underline;
}
.libraries .heading .resourse-link .fa-solid{
     color: red;
     margin-left: 0.5rem;
}
.libraries .box-container{
     display: flex;
     grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
     gap: 15px;
}
.libraries .box-container .box{
     background: #aab2d1;
     text-align: center;
     padding: 0px 30px;
}
.libraries .box-container .box img{
     border-radius: 20px;
}
.libraries .box-container .box h3{
 color: #2a3fac;
 font-size: 15px;
 padding: 10px 0;
}
.libraries .box-container .box .btn{
     margin-top: 10px;
     display: inline-block;
     background: white;
     color: #2a3fac;
     font-size: 12px;
     border-radius: 8px;
     cursor: pointer;
     padding: 8px 30px;
     border: 1px solid #2a3fac;
     margin-left: 5px;
}
 
.libraries .box-container .box .btn:hover{
         letter-spacing: 1px;
         transition: .2s;
}
@media only screen and (min-width: 360px) and (max-width: 479px){
    .libraries .heading{
     font-size: 15px;
}
     .libraries .heading .resourse-link{
        display: none;
    }
.libraries .mobile-resourse-link{
     display: contents;
     font-size: 10px;
     font-weight: bold;
     
}
.libraries .mobile-resourse-link a{
     color: red;
     padding-left: 2rem;
}
.libraries .mobile-resourse-link .fa-solid{
     color: red;
    
}

    .libraries .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
        gap: 5px;
   }
   .libraries .box-container .box img{
    height: 70px;
    width: 100px;
    border-radius: 10px;
   }
   .libraries .box-container .box h3{
    color: #2a3fac;
    font-size: 10px;
    padding: 10px 0;
    padding-left: 6px; 
    margin-bottom: -15px;
    margin-right: 2.5rem;
}
.libraries .box-container .box .btn{
    margin-bottom: 15px;
    display: inline-block;
    background: white;
    color: #2a3fac;
    font-size: 7px;
    border-radius: 8px;
    cursor: pointer;
    padding: 3px 5px;
    border: 1px solid #2a3fac;
    margin-right: 2.5rem;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
     .libraries .heading{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 116%;
     }
     .libraries .heading .resourse-link{
        font-size: 12px;
    }
    .libraries .mobile-resourse-link{
     display: none;
}
    .libraries .box-container .box h3{
        color: #2a3fac;
        font-size: 12px;
    }
    .libraries .box-container .box img{
        
        border-radius: 10px;
   }
   .libraries .box-container{
    justify-content: space-between;
    gap: 0;
   }
   .libraries .box-container .box{
     width: 100%;
     gap: -1rem;
   }
   .libraries .box-container .box .btn{
    margin-top: 5px;
    display: flex;
    background: white;
    color: #2a3fac;
    font-size: 10px;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 5px;
    border: 1px solid #2a3fac;
    width: 5rem;
    justify-content: center;
    
}
.libraries .box-container .box .btn:hover{
     letter-spacing: 1px;
     transition: .2s;
}
}