.date {
  border: 1px solid #ebebeb;
  border-radius:100px;
  background: #ebebeb;
}
.hero-register {
  border: 1px solid #001975;
  border-radius: 8px;
  background: #001975;
  cursor: pointer; 
  color: #fff;
}
.hero-register:hover {
  background: #fe0000; 
  transition: 1s;
  letter-spacing: 1px;
}

@media only screen and (min-width: 260px) and (max-width: 615px) {
  .hero-date h4{
     font-size: 30px;
  }
  .hero-date h4 span{
    font-size: 30px;
  }
  .date {
    width: 358px;
  }
  .date h5{
    font-size: 12.5px; 
  }
  .hero-date{
    margin-top: 10%;
  }
  .hero-description p{
    font-size: 14px;
  }
  .line-break-3{
    display: none;
  }
  .hero-register{
    width: 285px;
    height: 39px;
    padding: 4px;
  }
  .hero-bootcamp {
    background-position-x: 32%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
  }
}