.hero-bootcamp {
  background-image: 
  linear-gradient(to right, rgba(50, 100, 250, 0.7), rgba(100, 0, 0, 0.73)), url("hero1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 720px;
}
.date {
  border: 1px solid #999;
  border-radius:100px;
 
  background-color: rgba(211, 211, 211, 0.25);
}
.hero-register {
  border: 1px solid #001975;
  border-radius: 8px;
  background: #001975;
  cursor: pointer; 
}
.hero-register:hover {
  background: rgb(241, 138, 138); 
  transition: 1s;
  letter-spacing: 1px;
}

@media only screen and (min-width: 260px) and (max-width: 615px) {
  .hero-date h4{
     font-size: 30px;
  }
  .hero-date h4 span{
    font-size: 30px;
  }
  .date {
    width: 358px;
  }
  .date h5{
    font-size: 12.5px; 
  }
  .hero-date{
    margin-top: 10%;
  }
  .hero-description p{
    font-size: 14px;
  }
  .line-break-3{
    display: none;
  }
  .hero-register{
    width: 285px;
    height: 39px;
    padding: 4px;
  }
  .hero-bootcamp {
    background-position-x: 32%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
  }
}