.date {
  border: 1px solid #ebebeb;
  border-radius: 100px;
  background: #ebebeb;
}
.hero-register {
  border: 1px solid #001975;
  border-radius: 8px;
  background: #001975;
  cursor: pointer;
  color: #fff;
}
.hero-register:hover {
  background: #fe0000;
  transition: 1s;
  letter-spacing: 1px;
}

@media only screen and (min-width: 360px) and (max-width: 410px) {
  .hero-bootcamp {
    padding: 10px;
  }
  .date {
    width: 100%;
    padding: 11px;
    justify-content: center;
    gap: 0;
  }
  .calender {
    margin-top: 2px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
  .date h5 {
    font-size: 14px;
    margin-top: 1%;
  }
  .hero-left {
    width: 100%;
  }
  .hero-bootcamp-inner {
    display: block;
  }
  .hero-header-date h4 {
    font-size: 26px;
  }
  .break-25 {
    display: none;
  }
  .hero-description p {
    font-size: 16px;
  }
  .hero-register {
    width: 100%;
  }
  .hero-right {
    width: 100%;
  }
}
@media only screen and (min-width: 410px) and (max-width: 412px) {
  .hero-bootcamp {
    padding: 10px;
  }
  .date {
    width: 100%;
    padding: 11px;
    justify-content: center;
    gap: 0;
  }
  .calender {
    margin-top: 0;
    margin-right: 5px;
    
  }
  .date h5 {
    font-size: 16px;
    margin-top: 1%;
  }
  .hero-left {
    width: 100%;
  }
  .hero-bootcamp-inner {
    display: block;
  }
  .hero-header-date h4 {
    font-size: 30px;
  }
  .break-25 {
    display: none;
  }
  .hero-description p {
    font-size: 16px;
  }
  .hero-register {
    width: 100%;
  }
  .hero-right {
    width: 100%;
  }
}
@media only screen and (min-width: 412px) and (max-width: 432px) {
  .hero-bootcamp {
    padding: 10px;
  }
  .date {
    width: 100%;
    padding: 11px;
    justify-content: center;
  }
  .calender {
    margin-top: 0;
    margin-right: 5px;
    
  }
  .date h5 {
    font-size: 15px;
    margin-top: 1%;
  }
  .hero-left {
    width: 100%;
  }
  .hero-bootcamp-inner {
    display: block;
  }
  .hero-header-date h4 {
    font-size: 30px;
  }
  .break-25 {
    display: none;
  }
  .hero-description p {
    font-size: 16px;
  }
  .hero-register {
    width: 100%;
  }
  .hero-right {
    width: 100%;
  }
}
@media only screen and (min-width: 432px) and (max-width: 480px) {
  .hero-bootcamp {
    padding: 10px;
  }
  .date {
    width: 100%;
    padding: 8px;
    justify-content: center;
  }
  .calender {
    margin-top: 2px;
    margin-right: 2px;
    
  }
  .date h5 {
    font-size: 17px;
    margin-top: 1%;
    margin: 1%;
  }
  .hero-left {
    width: 100%;
  }
  .hero-bootcamp-inner {
    display: block;
  }
  .hero-header-date h4 {
    font-size: 32px;
  }
  .break-25 {
    display: none;
  }
  .hero-description p {
    font-size: 16px;
  }
  .hero-register {
    width: 100%;
  }
  .hero-right {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 500px) {
  .hero-bootcamp {
    padding: 10px;
  }
  .date {
    width: 100%;
    padding: 8px;
    justify-content: center;
  }
  .calender {
    margin-top: 2px;
    
  }
  .date h5 {
    font-size: 17px;
    margin-top: 1%;
    margin: 1%;
  }
  .hero-left {
    width: 100%;
  }
  .hero-bootcamp-inner {
    display: block;
  }
  .hero-header-date h4 {
    font-size: 33.3px;
  }
  .break-25 {
    display: none;
  }
  .hero-description p {
    font-size: 16px;
  }
  .hero-register {
    width: 100%;
  }
  .hero-right {
    width: 100%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
  .hero-bootcamp {
    padding: 10px;
  }
  .date {
    width: 100%;
    padding: 8px;
    justify-content: center;
  }
  .calender {
    margin-top: 2px;
  }
  .date h5 {
    font-size: 17px;
    margin-top: 1%;
    margin: 1%;
  }
  .hero-left {
    width: 100%;
  }
  .hero-bootcamp-inner {
    display: block;
  }
  .hero-header-date h4 {
    font-size: 37px;
  
  }
  .break-25 {
    display: none;
  }
  .hero-description p {
    font-size: 16px;
  }
  .hero-register {
    width: 100%;
  }
  .hero-right {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 750px) {
  .hero-bootcamp {
    padding: 10px;
  }
  .date {
    width: 420px;
    padding: 8px;
  
  }
  .calender {
    margin-top: 2px;
  }
  .date h5 {
    font-size: 17px;
    margin-top: 1%;
    margin: 1%;
  }
  .hero-left {
    width: 100%;
  }
  .hero-bootcamp-inner {
    display: block;
  }
  .hero-header-date h4 {
    font-size: 38px;
  
  }
  .break-25 {
    display: none;
  }
  .hero-description p {
    font-size: 16px;
   
  }
  .hero-right {
    width: 100%;
  }
}
@media only screen and (min-width: 750px) and (max-width: 980px) {
  .hero-bootcamp {
    padding: 10px;
  }
  .date {
    width: 420px;
    padding: 8px;
 
  }
  .calender {
    margin-top: 0;
  }
  .date h5 {
    font-size: 17px;
    margin-top: 1%;
    margin: 1%;
  }
  .hero-left {
    width: 100%;
  }
  .hero-bootcamp-inner {
    display: block;
  }
  .hero-header-date h4 {
    font-size: 30px;
  }
  .break-25 {
    display: none;
  }
  .hero-description p {
    font-size: 16px;
   
  }
 
  .hero-right {
    width: 100%;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1024px) {
  .hero-bootcamp {
    padding: 10px;
  }
  .date {
    width: 420px;
    padding: 8px;
    
  }
  .calender {
    margin-top: 0;
  }
  .date h5 {
    font-size: 17px;
    margin-top: 1%;
    margin: 1%;
  }
  .hero-left {
    width: 100%;
  }
  .hero-bootcamp-inner {
    display: block;
  }
  .hero-header-date h4 {
    font-size: 30px;
  }
  .break-25 {
    display: none;
  }
  .hero-description p {
    font-size: 16px;
    text-align: center;
  }
  .hero-register {
    width: 100%;
  }
  .hero-right {
    width: 100%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1025px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
