.first-border-box {
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.dashboard-box {
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.two {
  grid-row: span 3;
}

.columns:last-child {
  grid-column-start: 1;
  grid-column: span 2;
}

.parent-border {
  border-radius: 5px;
  padding: 1rem;
  gap: 1rem;
}

.inner-border-margin {
  padding: 1rem;
  margin: 1rem;
}

.social-icons .fa-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  line-height: 40px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}
