.register-header-container{
    background-color: #be7272;
}

.register-date {
    border: 1px solid #999;
    border-radius:100px;
    background: rgba(141, 141, 141, 0.2);
  }
  
  .register-input{
    background-color: rgba(245, 245, 245, 1);
    border-radius: 12px;
  }
  .button-8 {
    background: rgba(254, 0, 0, 1);
    font-weight: 600;
    text-align: center;
    transition: 0.8s;
    border-radius: 20px;
  }
  @media only screen and (min-width: 360px) and (max-width: 480px) {
     .register-date{
      width: 100%;
     }
   
     .register-inner{
       width: 100%;
       padding: 5%;
       position: relative;
       top: 30%;
     
      }
      .register-venue-container{
        width: 100%;
        display: block;
       
      }
      .register-venue-container h5{
        font-size: 15px;
      }
      .register-header h1{
        font-size: 31px;
      }
      .register-header{
        margin-top: 7%;
      }
      .form-const{
        width: 100%;
      }
      .form-main{
        display: block;
        padding: 4%;
      }
      .register-1{
        width: 100%;
      }
      .register-1-inner{
        width: 100%;
      }
      .register-1-form{
        display: block;
        margin-top: 10%;
      }
      .register-first-form{
        display: block;
      }
      .register-image{
        position: relative;
        bottom: 0;
        margin-top: 10%;
      }
      .button-8{
        width: 100%;
      }
      .register-input{
        margin-bottom: 4%;
      }
}
  @media only screen and (min-width: 500px) and (max-width: 600px) {
  
    
  }
  
  @media only screen and (min-width: 600px) and (max-width: 750px) {
   
  }
  @media only screen and (min-width: 750px) and (max-width: 980px) {
   
  }
  @media only screen and (min-width: 980px) and (max-width: 1024px) {
    
  }
  @media only screen and (min-width: 1024px) and (max-width: 1025px) {
    
  }
  @media only screen and (min-width: 1025px) and (max-width: 1280px) {
    
  
  }
 