.font {
  font-size: 40px;
}

.header-text {
  font-size: 32px;
  margin-bottom: 10px;
}

.background-color {
  background-color: rgba(240, 243, 255, 1);
  background-image: url(../../../assets/images/Group.svg), url(../../../assets/images/Group2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position-y: 37%, 62%;
}

.color {
  background: rgba(43, 63, 140, 1);
  width: 83px;
  height: 6px;
  border-radius: 12px;
  transform: translateX(-90%);
  margin-bottom: 30px;
}
