.custom-height {
  height: 98px;
}

.custom-font {
  font-weight: 640;
  font-size: 16px;
}

.shadow {
  box-shadow: 0 4px 8px -2px rgba(16, 24, 40, 0.1);
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 8.59%,
    #f4050a 49.81%,
    rgba(0, 0, 0, 0) 89.96%
  );
  border-image-slice: 1;
}

.button-1 {
  background: rgba(0, 25, 117, 1);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transition: 0.8s;
}

.button-1:hover {
  background-color: rgba(254, 0, 0, 1);
}

.button-2 {
  background: none;
  color: rgba(0, 25, 117, 1);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: none;
  transition: 0.8s;
}

.button-2:hover {
  color: rgba(254, 0, 0, 1);
}

.menu {
  height: 38px;
  width: 38px;
}

.custom-space-x > * {
  margin-right: 40px;
}

.menu-color {
  background-color: rgba(204, 204, 204, 1);
}

.active-link {
  position: relative;
  color: rgba(0, 25, 117, 1);
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(0, 25, 117, 1);
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
  .custom-image-large {
    display: none;
  }

  .custom-image-small {
    position: relative;
    right: 27px;
    bottom: 0;
  }

  .menu {
    position: relative;
    top: 5px;
  }

  .shadow {
    box-shadow: 0 4px 8px -2px rgba(16, 24, 40, 0.1);
    border-bottom: none;
    border-image: none;
    border-image-slice: none;
  }

  .custom-move {
    position: relative;
    right: 35px;
  }

  .button-2-small {
    background: white;
    color: rgba(0, 25, 117, 1);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: none;
    transition: 0.8s;
  }

  .button-2-small:hover {
    color: rgba(254, 0, 0, 1);
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .custom-image-large {
    display: none;
  }

  .active-link {
    position: relative;
  }

  .active-link::before {
    width: 79px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background: rgba(0, 25, 117, 1);
  }
}

@media (min-width: 768px) {
  .button-2-small {
    background: white;
    color: rgba(0, 25, 117, 1);
    width: 60%;
    font-size: 16px;
    transform: translateX(33%);
    font-weight: 600;
    text-align: center;
    border: none;
    transition: 0.8s;
  }

  .button-1 {
    background: rgba(0, 25, 117, 1);
    width: 60%;
    color: white;
    font-size: 16px;
    transform: translateX(33%);
    font-weight: 600;
    text-align: center;
    border: none;
    transition: 0.8s;
  }
}
