.custom-height {
  height: 98px;
}

.custom-font-small {
  font-weight: 640;
  font-size: 14.5px !important;
}

.shadow {
  box-shadow: 0 4px 8px -2px rgba(16, 24, 40, 0.1);
  border-bottom: 1px solid transparent;
  border-image:
    linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 8.59%,
      #f4050a 49.81%,
      rgba(0, 0, 0, 0) 89.96%
    );
  border-image-slice: 1;
}

.header-font {
  font-size: 80px;
}

.button-1 {
  background: rgba(0, 25, 117, 1);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  transition: 0.8s;
}

.button-1:hover {
  background-color: rgba(254, 0, 0, 1);
}

.button-2 {
  background: none;
  color: rgba(0, 25, 117, 1);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: none;
  transition: 0.8s;
}

.button-2:hover {
  color: rgba(254, 0, 0, 1);
}

.menu {
  height: 38px;
  width: 38px;
}

.custom-space-landing > * {
  margin-right: 30px !important;
}

.nav-color {
  background-color: rgba(204, 204, 204, 1);
}

.active-nav {
  position: relative;
  color: rgba(0, 25, 117, 1);
}

.active-nav::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(0, 25, 117, 1);
}


@media only screen and (min-width: 360px) and (max-width: 480px) {
  .custom-large {
    position: relative;
    right:3rem;
    bottom: 0;
  }

  .custom-small {
    position: relative;
    right: 2.5rem;
    bottom: 0;
    display: none;
  }

  .active-nav::before {
    width: 79px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background: rgba(0, 25, 117, 1);
  }

  .menu {
    position: relative;
    top: 5px;
  }

  .shadow {
    box-shadow: 0 4px 8px -2px rgba(16, 24, 40, 0.1);
    border-bottom: none;
    border-image: none;
  }

  .custom-move {
    position: relative;
    right: 35px;
  }

  .button-2-small {
    background: white;
    color: rgba(0, 25, 117, 1);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: none;
    transition: 0.8s;
  }

  .button-2-small:hover {
    color: rgba(254, 0, 0, 1);
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .custom-large {
    position: relative;
    right: 3rem;
  }

  .custom-small {
    position: relative;
    right: 2.5rem;
    display: none;
    
  }

  .active-nav {
    position: relative;
  }

  .active-nav::before {
    width: 79px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background: rgba(0, 25, 117, 1);
  }

  .button-2-small {
    background: white;
    color: rgba(0, 25, 117, 1);
    width: 60%;
    font-size: 16px;
    transform: translateX(33%);
    font-weight: 600;
    text-align: center;
    border: none;
    transition: 0.8s;
  }

  .button-1 {
    background: rgba(0, 25, 117, 1);
    width: 60%;
    color: white;
    font-size: 16px;
    transform: translateX(33%);
    font-weight: 600;
    text-align: center;
    border: none;
    transition: 0.8s;
  }
  .menu {
    position: relative;
    top: 5px;
  }
}

@media (min-width: 768px)  and (max-width: 1024px) {
  .button-2-small {
    background: white;
    color: rgba(0, 25, 117, 1);
    width: 60%;
    font-size: 16px;
    transform: translateX(33%);
    font-weight: 600;
    text-align: center;
    border: none;
    transition: 0.8s;
  }

  .mobile-menu {
    display: block;
    width: 100%;
    position: absolute;
    height: 680px !important;
  }

  .menu {
    position: relative;
    top: 5px;
  }

  .desktop {
    display: none;
  }

  .custom-small {
    display: flex;
    position: relative;
    right: 5.5rem;
    display: none;
  }

  .logo-container {
    display: flex;
  }

  .custom-large {
    display: flex;
    position: relative;
    right: 6rem;
  }

  .menu-container {
    display: flex;
  }

  .desktop-button {
    display: none;
  }

  .button-1 {
    background: rgba(0, 25, 117, 1);
    width: 60%;
    color: white;
    font-size: 16px;
    transform: translateX(33%);
    font-weight: 600;
    text-align: center;
    border: none;
    transition: 0.8s;
  }

  .active-nav {
    position: relative;
  }

  .active-nav::before {
    width: 79px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background: rgba(0, 25, 117, 1);
  }
}
@media (min-width: 1024px)  and (max-width: 1025px) {
  .button-2-small {
    background: white;
    color: rgba(0, 25, 117, 1);
    width: 60%;
    font-size: 16px;
    transform: translateX(33%);
    font-weight: 600;
    text-align: center;
    border: none;
    transition: 0.8s;
  }

  .mobile-menu {
    display: block;
    width: 100%;
    position: absolute;
    height: 680px !important;
  }

  .menu {
    position: relative;
    top: 5px;
  }

  .desktop {
    display: none;
  }

  .custom-small {
    display: flex;
    position: relative;
    right:5.5rem;
    display: none;
  }

  .logo-container {
    display: flex;
  }

  .custom-large {
    display: flex;
    position: relative;
    right:5.5rem;
  }

  .menu-container {
    display: flex;
  }

  .desktop-button {
    display: none;
  }

  .button-1 {
    background: rgba(0, 25, 117, 1);
    width: 60%;
    color: white;
    font-size: 16px;
    transform: translateX(33%);
    font-weight: 600;
    text-align: center;
    border: none;
    transition: 0.8s;
  }

  .active-nav {
    position: relative;
  }

  .active-nav::before {
    width: 79px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background: rgba(0, 25, 117, 1);
  }

}
@media (min-width: 1025px) and (max-width: 1350px)  {

  .menu{
   display: none;
  }
  .desktop-button {
   display: flex;
 }
 nav{
  display: flex !important;
  justify-content: space-between!important
 }
 .custom-font-small{
   font-size: 12px !important;
 }

.custom-space-landing > * {
  margin-right: 13px !important;
}

}

