.footer {
  width: 100%;
  position: relative;
  top: 24px;
  background: #000d3b;
  color: white;
  /* padding: 80px 0 30px; */
  font-size: 10px;
  line-height: 20px;
}

.first-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
}

.col {
  flex-basis: 25%;
  padding: 0;
}

.col > h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  list-style-type: none;
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
}

form {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  margin-bottom: 50px;
  border-radius: 10px;
  background: white;
}

form .fa-solid {
  font-size: 12px;
  margin-right: 0;
  color: #000d3b;
}

form select {
  width: 100%;
  color: #000d3b;
  border: 0;
  outline: none;
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons .fa-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  line-height: 40px;
  font-size: 20px;
  color: black;
  background-color: white;
  cursor: pointer;
}

.social-icons .fa-brands:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.2);
  transition: 0.8s;
}

.horizontal-line {
  width: 85%;
  border: 0;
  border-bottom: 1px solid;
  margin: 20px auto;
}

@media only screen and (min-width: 360px) and (max-width: 479px){
  .col {
    flex-basis: 50%;
  }
  .footer {
    width: 100%;
  }
  .first-container img{
    display: flex;
    margin-left: -10%;
      }
  h4{
    color: white;
  }
  .footer .copyright{
    display: flex;
    justify-content: space-between;
    width: 95%;
  }
  .social-icons{
    margin-left: -25%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
  .first-container img{
  display: flex;
  margin-left: -4%;
    }
  h4{
    color: white;
  }
.footer .copyright{
  display: flex;
  justify-content: space-between;
  width: 90%;
} 
.horizontal-line{
  width: 85%;
  border: 0;
  border-bottom: 1px solid;
  margin: 20px auto;
}
}