.sign-in{
     margin: 5rem;
     padding-top: 5rem;
     padding-left: 0.75rem;
     padding-right: 0.75rem;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

.email{
     margin-top: 2rem;
}
.email p{
     margin-bottom: 0.5rem;
}
.email .email-input{
     border: 1px solid #f5f5f5;

}
.email .email-input input{
     width: 30rem;
     height: 3rem;
     background-color: #f5f5f5;
     padding-left: 1rem;
     border-radius: 12px;
}
.email .email-input input::placeholder{
     padding-left: 1rem;
}
.password{
     margin-top: 2rem;
}
.password p{
     margin-bottom: 0.5rem;
}
.password .password-input{
     border: 1px solid #f5f5f5;
     
}
.password .password-input input{
     width: 30rem;
     height: 3rem;
     background-color: #f5f5f5;
     padding-left: 1rem;
     border-radius: 12px;
}
.password .password-input input::placeholder{
     padding-left: 1rem;
}
.login-button{
     width: 30rem;
     height: 3rem;
     text-align: center;
     background-color: #001975;
     margin-top: 3rem;
     margin-bottom: 2rem;
     border-radius: 12px;
     color: #fff;
     padding-top: 0.6rem;
}
.sign-in .sign-up a{
     color: #001975;
}
.sign-in .sign-up{
     margin-bottom: 2rem;
}
.sign-in .google{
     margin-top: 2rem;
     margin-bottom: 4rem;
}

@media only screen and (min-width: 360px) and (max-width: 479px){
     .sign-in{
          margin: 0;
     }
     .email .email-input input{
          width: 20rem;
     }
     .password .password-input input{
          width: 20rem;
     }
     .login-button{
          width: 20rem;
     }
     .sign-in .image{
          margin-top: 3rem;
     }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
     .sign-in{
          margin: 0;
     }
     .email .email-input input{
          width: 25rem;
     }
     .password .password-input input{
          width: 25rem;
     }
     .login-button{
          width: 25rem;
     }
     .sign-in .image{
          margin-top: 3rem;
     }
}