.head-box h2 {
  color: rgba(0, 17, 78, 1);
  font-weight: 700;
}

/* .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -10%;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    transform: translateY(-50%);
  }
  
  .slick-prev {
    left: 94%;
  }
  
  .slick-next {
    right: 0;
  }
  
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    color: transparent;
    outline: none;
    background: none;
    border-radius: 0;
  }
  
  .slick-prev::before {
    content: url("../../../../assets/icons/left-arrow.svg") !important;
    max-width: 20px !important;
    height: 20px !important;
    opacity: 1;
  }
  
  .slick-next::before {
    content: url("../../../../assets/icons/right-arrow.svg") !important;
    width: 20px !important;
    height: 20px !important;
    opacity: 1;
  }
  
  [dir="rtl"] .slick-prev {
    right: 0;
    left: auto;
  }
  
  [dir="rtl"] .slick-prev::before {
    content: "→";
  }
  
  [dir="rtl"] .slick-next {
    right: auto;
    left: 0;
  }
  
  [dir="rtl"] .slick-next::before {
    content: "←";
  } */

@media only screen and (min-width: 360px) and (max-width: 640px) {
  .main-con {
    padding: 2rem;
    margin-top: 6rem;
  }

  .head-box h2 {
    color: rgba(0, 17, 78, 1);
    font-weight: 700;
    font-size: 18px;
  }

  .cardSectionRecom {
    display: flex;
    flex-direction: column;
  }

  .each-card {
    width: 100%;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .main-con {
    padding: 1rem;
    margin-top: 8rem;
  }

  .head-box h2 {
    color: rgba(0, 17, 78, 1);
    font-weight: 700;
    font-size: 24px;
  }

  .cardSectionRecom {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .each-card {
    width: 48%;
  }
}
