.About-one-image{
     position: relative;
     top: 20%;
}
.about-right-content{
   position: relative;
   top: 41.5%;
}
.about-right-content .about-span{
     position: relative;
     bottom: 2rem;
     left: 2rem;
}
.main-about-us{
     background-image: url(../Image/aboutbg.svg);
     background-repeat: no-repeat;
     background-size: cover;
}
