.custom-height {
  height: 98px;
}

.custom-gap {
  gap: 6rem;
}

.custom-size {
  font-size: 17px;
}

.custom-font {
  font-weight: 640;
}

.custom-position {
  position: relative;
  left: 10rem;
}

.links-gap {
  gap: 30px;
}

.gap {
  gap: 20rem;
}

.shadow {
  box-shadow: 0 4px 8px -2px rgba(16, 24, 40, 0.1);
}

.button-1 {
  background: rgba(0, 25, 117, 1);
  font-size: 13px;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
}

.button-2 {
  background: #fff;
  color: rgba(0, 0, 0, 1);
  font-size: 13px;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 1);
}

.button-gap {
  gap: 20px;
}

.menu {
  height: 30px;
  width: 30px;
}

@media only screen and (min-width: 360px) and (max-width: 880px) {
  .custom-position-small {
    position: relative;
    left: 0;
  }

  .custom-button-position {
    position: relative;
    right: 20rem;
  }

  .button-gap {
    gap: 20px;
    display: inline-flex;
    margin-top: 20px;
    justify-content: space-between;
  }

  .custom-image-small {
    position: relative;
    right: 30px;
    bottom: 20px;
  }
}
