.bg-image {
  background-image: url("../../../../assets/images/values/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.color {
  background: rgba(43, 63, 140, 1);
}
.button-container{
  border-right: 1px  solid rgba(0, 25, 117, 1) ;
  border-left: 1px  solid rgba(0, 25, 117, 1);
}
