.header-text {
  font-weight: 400;
  margin-top: -80px;
}

.background-color {
  background-color: rgba(240, 243, 255, 1);
  background-image:
    url(../../../../assets/images/Group.svg),
    url(../../../../assets/images/Group2.svg),
    url(../../../../assets/images/Group3.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position-y: 35%, 70%, 105%;
}

.color {
  background: rgba(43, 63, 140, 1);
}

.zoom-in {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

@media only screen and (min-width: 640px) and (max-width: 788px) {
  .sponsor-small {
    margin-top: 40px;
    width: 90%;
    gap: 18px;
  }

  .header-text {
    font-size: 24px;
    font-weight: 500;
    margin-top: -30px;
  }

  .background-color {
    background-color: rgba(240, 243, 255, 1);
    background-image:
      url(../../../../assets/images/Group.svg),
      url(../../../../assets/images/Group2.svg),
      url(../../../../assets/images/Group3.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position-y: 40%, 68%, 100%;
    height: 350px;
  }

  .under-line {
    width: 60px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 639px) {
  .sponsor-small {
    margin-top: 40px;
    width: 90%;
    gap: 30px;
  }

  .header-text {
    font-size: 24px;
    font-weight: 500;
    margin-top: -30px;
  }

  .background-color {
    background-color: rgba(240, 243, 255, 1);
    background-image:
      url(../../../../assets/images/Group.svg),
      url(../../../../assets/images/Group2.svg),
      url(../../../../assets/images/Group3.svg),
      url(../../../../assets/images/Group3.svg);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position-y: 30%, 47%, 70%, 90%;
    height: 520px;
  }

  .under-line {
    width: 68px;
  }
}
