.about-us{
     margin-top: 10rem;
}
.mission > h2,
.about-us > h2{
     font-weight: 900;
     font-size: 48px;
     color: #001975;
}
.about-us .about-hero-text .h6 h6{
     font-weight: 400;
     font-size: 17px;
}
.about-us p{
     font-weight: 500;
     font-size: 16px;
}
.about-us .about-hero-text{
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-bottom: 2rem;
}
.about-us .about-hero-text h6 p{
     margin-top: 0.5rem;
}
.about-us .hero-image{
     margin-bottom: 2rem;
}
.about-us .mission{
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-bottom: 2rem;
}
.about-us .mission .mission-text h5{
     font-weight: 400;
     font-size: 24px;
     margin-bottom: 0.5rem;
}
.about-us .mission .mission-text p{
     margin-bottom: 1.5rem;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
}
.about-us .founder{
     display: flex;
     flex-direction: column;
     padding: 4rem 18rem;
     background: #aab2d1;
     color: #001975;
     font-weight: bold;
}
.about-us .founder .founder-frame{
     display: flex;
     align-items: center;
     gap: 1rem;
}
/* .about-us .founder .founder-frame .ceo-name h6{
     font-weight: 400;
     font-size: 17px;
     line-height: 25.5px;
} */

.about-us .founder .founder-frame img{
     height: 5rem;
     border-radius: 50%;
}
.about-us .founder .founder-frame{
     color: #333;
}
.about-us .why-us{
     display: flex;
     gap: 3rem;
}
.about-us .why-us .impact-video{
     padding-left: 5.7rem;
}
.about-us .why-us .impact-video a img{
     width: 40rem;
}
.about-us .why-us .impact-video h2{
     color: #001975;
     font-size: x-large;
     margin-bottom: 1rem;
}
.about-us .why-us .impact-video p{
     margin-bottom: 1rem;
     font-size: small;
}
.about-us .our-team{
     background: #aab2d1;
     padding: 4rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: -0.3rem;
}
.about-us .our-team .team-image{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.about-us .our-team .team-image .set{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 2rem;
}
.about-us .our-team .team-image .set .set1 img{
     height: 25rem;
     width: 20rem;
     margin-bottom: 1rem;
     margin-top: 2rem;
     border-radius: 2rem;
}
.about-us .our-team .team-image .set .set1{
     color: #333;
}
.about-us .our-team-mobile{
     background: #aab2d1;
     padding: 4rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.about-us .blog-cards{
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.about-us .blog h1{
     text-align: center;
     margin-bottom: 3rem;
}
.about-us .blog .blog-cards .blog-card .blog-topic{
     font-weight: bold;
     font-size: large;
     margin-bottom: 0.5rem;
}
.about-us .blog .blog-cards .blog-card .blog-topic h4{
     color: #001975;
}
.about-us .blog .blog-cards .blog-card .blog-text p{
     font-size: small;
     margin-bottom: 1rem;
}
.about-us .blog .blog-cards .blog-card .author{
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-bottom: 2rem;
     gap: 10rem;
}
.about-us .blog .blog-cards .blog-card .author .name{
     font-weight: bold;
}
.about-us .blog .blog-link{
     border: 2px solid #001975;
     border-radius: 0.5rem;
     padding: 0.5rem;
     text-align: center;
     font-size: x-small;
     font-weight: bold;
     margin: 0 3rem;
     height: 3rem;
     padding-top: 1rem;
     cursor: pointer;
}
.about-us .blog .blog-link a{
     color: #001975;
}
.about-us .blog .blog-link:hover{
     background: #001975;
     transition: 0.8s;
}
.about-us .blog .blog-link a:hover{
     color: #fff;
}
.about-us .blog .blog-link a .fa-solid{
     padding-left: 1.5rem;
}
.about-us .contact-us{
     margin-bottom: 5rem;
}
.about-us .contact-us h1{
     text-align: center;
     padding-top: 2rem;
}
.about-us .contact-us h4{
     text-align: center;
     margin-bottom: 3rem;
     color: #000;
}
.about-us .contact-us .contact-form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.about-us .contact-us .contact-form p{
     font-size: small;
}
.about-us .contact-us .contact-form .name{
     display: flex;
     justify-content: space-around;
     align-items: center;
     gap: 2rem;
     margin-bottom: 3rem;
}
.about-us .contact-us .contact-form .query input{
     margin-bottom: 3rem;
     width: 52rem;
     border: 1px solid #001975;
     height: 3rem;
     border-radius: 0.5rem;
     padding: 0.5rem;
}
.about-us .contact-us .contact-form .mail{
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 2rem;
}
.about-us .contact-us .contact-form input{
     width: 25rem;
     border: 1px solid #001975;
     height: 3rem;
     border-radius: 0.5rem;
}
.about-us .contact-us .contact-form .send-button{
     margin-top: 3rem;
     border: 1px solid #001975;
     background: #001975;
     cursor: pointer;
     width: 52rem;
     text-align: center;
     height: 3rem;
     border-radius: 0.5rem;
     padding-top: 0.6rem;
     color: #fff;
}

@media only screen and (min-width: 360px) and (max-width: 479px){
     .about-us .hero-text{
          display: flex;
          flex-direction: column;
          justify-content: left;
          padding: 1.5rem;
     }
     .about-us .mission{
          display: flex;
          flex-direction: column;
          padding: 1.5rem;
     }
     .about-us .founder{
          padding: 2rem;
     }
     .about-us .why-us{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
     }
     .about-us .why-us .impact-video{
          padding: 1rem;
     }
     .about-us .why-us .merit ul{
          margin: 0;
          width: 50rem;
     }
     .about-us .why-us .merit ul li{
          
          margin: 0 5rem;
          text-align: center;
          margin-left: 0;
     }
     .about-us .our-team h1{
          font-size: 1.5rem;
          margin-top: -3rem;
     }
     .about-us .our-team .team-image .set{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     .about-us .our-team .team-image .set .set1 img{
          height: 15rem;
          width: 20rem;
          margin-bottom: 1rem;
          margin-top: 2rem;
          border-radius: 2rem;
     }
     .about-us .our-team-mobile{
          background: #aab2d1;
          padding: 4rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
     }
     .about-us .blog-cards{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 1.5rem;
     }
     .about-us .blog .blog-cards .blog-card .blog-topic{
          color: #001975;
     }
     .about-us .contact-us{
          padding: 0;
     }
     .about-us .contact-us .contact-form .send-button{
          width: 20rem;
     }
     .about-us .contact-us .contact-form input{
          width: 20rem;
     }
     .about-us .contact-us .contact-form .mail{
          display: flex;
          flex-direction: column;
     }
     .about-us .contact-us .contact-form .name{
          display: flex;
          flex-direction: column;
     }
     .about-us .contact-us .contact-form .query input{
          width: 20rem;
     }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
     .about-us .hero-text{
          display: flex;
          justify-content: space-between;
          align-items: center;
     }
     .about-us .hero-text h1{
          font-size: 1.5rem;
     }
     .about-us .founder{
          padding: 4rem 2rem;
     }
     .about-us .why-us{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
     }
     .about-us .why-us .impact-video{
          padding: 1rem;
     }
     .about-us .our-team h1{
          font-size: 1.5rem;
          margin-top: -3rem;
     }
     .about-us .our-team .team-image .set .set1 img{
          height: 10rem;
          width: 10rem;
          margin-bottom: 1rem;
          margin-top: 2rem;
          border-radius: 2rem;
     }
     .about-us .blog-cards{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 1.5rem;
     }
     .about-us .blog .blog-cards .blog-card .blog-topic{
          color: #001975;
     }
     .about-us .contact-us{
          padding: 0;
     }
     .about-us .contact-us .contact-form .send-button{
          width: 28rem;
     }
     .about-us .contact-us .contact-form input{
          width: 13.5rem;
     }
     .about-us .contact-us .contact-form .query input{
          width: 29rem;
     }
}