.about-us-intro{
  margin-top: 10rem;
}
.border-2{
  border: 2px solid red;
}
.border-3{
  border: 3px solid blue;
}
.ceo-image > img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  line-height: 40px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}
.founder-inner{
  margin: 6rem;
}
.meritimage > img{
  height: 90px;
  width: 200px;
}
.blog-link{
  border: 1px solid #001975;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.blog-link > a{
  color: #001975;
}
.blogpoint{
  color: #001975;
}
